#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.container {
  margin: 50px auto;
  text-align: center;
  font-family: Arial, sans-serif;
}

textarea {
  width: 100%;
  height: 120px;
  padding: 10px;
  font-size: 16px;
  resize: none;
}

p {
  margin-top: 10px;
  font-size: 16px;
}